  .form-design{
            
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            margin-left: 40px;
           text-shadow: #3e0648;
        }
        .form-container {
            
            align-items: center;
            background-color: #fff;
            height: auto;
            width: 500px;
            margin: 0 auto;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 0 15px rgba(185, 42, 217, 0.775);
             }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            color: rgb(59, 9, 58);
            background-color: color-mix(in srgb,rgb(17, 139, 214) 80%, rgb(217, 52, 80) 70%);
        }
        label{
            width: 100px;
            margin-right: 10px;
            font-family: serif ;
            font-style: normal;
        }
        input{
            
            padding: 5px;
            padding-block-start: 5px;
            background-color: blanchedalmond;
            color: rgb(0, 0, 0);
            border: 2px solid #de82ee;
            text-align: left;
            
            
        }
        .form-actions{
            display: flex;
            justify-content: center;
            gap: 20px;
            padding-block-start: 10px;
            padding-bottom: 5px;
            
        }
        textarea{
            padding: 5px;
            align-content: start;
            border-color: rgb(210, 48, 210);
            border-width: 2px;
        }
      